#edotor {
  display: flex;
  flex-direction: row;
}

.pane {
  border: 1px;
  border-style: dotted;
  display: block;
  margin: 10px;
}

#card-pane {
  width: 650px;
  height: 350px;
}

#bcd-pane {
  width: 650px;
  height: 40px;
}

#hopper-pane {
  width: 300px;
  height: 800px;
}

#result-pane {
  width: 650px;
  height: 200px;
}

.char {
  white-space: pre;
}

.selected-minicard {
  fill: #c38;
}

#load-file-input{
  display: none;
}

