#edotor {
  display: flex;
  flex-direction: row;
}

.pane {
  border: 1px;
  border-style: dotted;
  display: block;
  margin: 10px;
  padding: 10px;
}

#bcd-pane {
  height: 40px;
}

#hopper-pane {
  width: 180px;
  min-height: 644px;
}

#result-pane {
  height: 200px;
}

.char {
  white-space: pre;
}

.deck-text {
  display: block;
  padding-left: 10px;
  border: 1px;
  border-style: dotted;
  border-color: white;
}

.selected-deck-card {
  //background: #dddddd;
  border-color: black;
}

#load-file-input{
  display: none;
}

.title {
  margin-top: 7px;
  margin-left: 10px;
  font-size: 30px;
  font-family: courier;
  color: #aaa;
}
