.pane {
  border: 1px;
  border-style: dotted;
  display: block;
  margin: 10px;
}

#card-pane {
  width: 650px;
  height: 350px;
}

#bcd-pane {
  width: 650px;
  height: 40px;
}

#hopper-pane {
  width: 300px;
  height: 800px;
  float: right;
}

#result-pane {
  width: 1000px;
  height: 200px;
}

.char {
  white-space: pre;
}

.selected-minicard {
  background-color: #333;
}

#load-file-input{
  display: none;
}
